body, input {
    color: red;
    font-size: 1.5 em;
    line-height: 24px;
    border-color: black;
    border-style: solid;
    border-width: 1px
}

h1 {
    font-weight: bold;
}

#title {
    text-decoration: underline;
}

.item {
    color: blue;
}
