.a { background-color: #FFFF00FF; padding: 12px;}
.b { background-color: #FFFF00DD; padding: 12px;}
.c { background-color: #FFFF00BB; padding: 12px;}
.d { background-color: #FFFF0099; padding: 12px;}
.e { background-color: #FFFF0077; padding: 12px;}
.f { background-color: #FFFF0055; padding: 12px;}
.g { background-color: #FFFF0033; padding: 12px;}
.h { background-color: #FFFF0011; padding: 12px;}

